.general {
    width: 40%;
    margin: 0 5%;
}

.names {
    width: 60%;
}

@media (max-width: 700px) {
    header {
        font-size: small;
    }
    @media (min-width: 701px) and (max-width: 1200px) {
        header {
            font-size: xx-large;
        }
    }
}

